<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content=""> <!-- website name -->
	<meta property="og:site" content=""> <!-- website link -->
	<meta property="og:title" content=""> <!-- title shown in the actual shared post -->
	<meta property="og:description" content=""> <!-- description shown in the actual shared post -->
	<meta property="og:image" content=""> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content=""> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article">

    <!-- Website Title -->
    <title>Fernanda Carrijo</title>

    <!-- Styles -->
    <link href="../css.css?family=Raleway:400,400i,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/fontawesome-all.css" rel="stylesheet">
    <link href="css/swiper.css" rel="stylesheet">
	<link href="css/magnific-popup.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">

	<!-- Favicon  -->
    <link rel="icon" href="images/favicon.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->


    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="index.html"><img src="images/logo.svg" alt="alternative"></a>

        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#header">Home <span class="sr-only">(current)</span></a>
                </li>

                <!-- Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="portfolio.html" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Portfólio</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="course-details.html"><span class="item-text">Identidade Visual</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="terms-conditions.html"><span class="item-text">Embalagem</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="privacy-policy.html"><span class="item-text">Mídias Sociais</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="privacy-policy.html"><span class="item-text">Sites</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="privacy-policy.html"><span class="item-text">Campanhas</span></a>
                    </div>
                </li>
                <!-- end of dropdown menu -->

                <li class="nav-item">
                    <a class="nav-link page-scroll" href="contato.html">Contato</a>
                </li>

                <!-- Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="blog.html" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="course-details.html"><span class="item-text">Design</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="terms-conditions.html"><span class="item-text">Mercado</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="privacy-policy.html"><span class="item-text">Curiosidades</span></a>
                    </div>
                </li>
                <!-- end of dropdown menu -->
            </ul>
            <span class="nav-item social-icons">
                <span class="fa-stack">
                    <a href="#your-link">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-facebook-f fa-stack-1x"></i>
                    </a>
                </span>
                <span class="fa-stack">
                    <a href="#your-link">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-twitter fa-stack-1x"></i>
                    </a>
                </span>
            </span>
        </div>
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->


    <!-- Header -->
    <header id="header" class="header">

        <div class="frame-container">

        </div> <!-- end of frame-container -->
    </header> <!-- end of header -->
    <!-- end of header -->



    <!-- About -->
    <div id="about" class="form-1">
        <div class="container">
            <div class="row">
                <div class="text-container">
                    <div id="about" class="form-1">
                        <div class="about-image">
                            <img src="images/Designer.png" >
                        </div>
                    </div>
                    <h2>Fernanda</h2>
                    <h3>Moreira Carrijo Andrade</h3>
                    <p>Sempre disposta a aprender e ensinar, sou uma pessoa bastante alegre, bem
                        humorada e muito honesta. Tenho bom relacionamento com os colegas com
                        quem trabalho ou já trabalhei, mesmo fora da empresa.</p>
                    <p>Tenho facilidade com programas e softwares, sou organizada do workspace aos
                        layouts, arquivos e pauta, esforçada para entregar com qualidade tudo que estiver
                        ao meu alcance e perfeccionista quando o assunto é planejamento e criação.
                        Dedicada, visto a camisa do meu time e me entrego de cabeça e coração para
                        sempre irmos mais longe.</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body"><strong>Adobe Photoshop
                                AVANÇADO</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body"><strong>Adobe Illustrator
                                AVANÇADO</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body"><strong>Adobe Indesign
                                AVANÇADO</div>
                        </li>
                    </ul>
                </div> <!-- end of text-container-->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-1 -->
    <!-- end of about -->




    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-col">
                        <h4>Fernanda Carrijo</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                    </div> <!-- end of footer-col -->
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col">
                        <h4>Contato para Orçamentos</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">E-mail para orçamentos <a class="green" href="#your-link">teste.com</a></div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">WhatsApp para mais <br> informações <a class="green" href="#your-link">(16) 00000-0000</a></div>
                            </li>
                        </ul>
                    </div> <!-- end of footer-col -->
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col">
                        <h4>Redes Sociais</h4>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-linkedin-in fa-stack-1x"></i>
                            </a>
                        </span>
                    </div> <!-- end of footer-col -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © 2022 Turma 12 Polo Franca-SP - PI3 Univesp</p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright -->
    <!-- end of copyright -->


    <!-- Scripts -->
    <script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="js/jquery.countdown.min.js"></script> <!-- The Final Countdown plugin for jQuery -->
    <script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>
