    .div-body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slider {
        margin: 60 auto;
        width: 90%;
        height: 400px;
        overflow: hidden;
    }

    .slides {
        width: 100%;
        height: 100%;
        display:inline-flex;
    }

    .slides input {
        display: none;
    }

    .img {
        width: 300px;
        height: 300px;
        margin-right: 10px;
    }

    .slide-first {
        width: 10px;
        margin-left: 10px;
        position: relative;

    }
    .slide-second{
        width: 400px;
        margin-left: 10px;
        position: relative;
        margin-right: 10px;

    }

    .slide img {
        width: 100%;
    }

    .manual-navigation {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 380px;

    }

    .manual-btn {
        border: 2px solid rgb(252, 250, 250);
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }

    .manual-btn:not(:last-child) {
        margin-right: 40px;
    }

    .manual-btn:hover {
        background-color: rgb(251, 247, 247);
    }

    #radio1:checked {
        margin-left: 0;
    }

    #radio2:checked~.slide-first {
        margin-left: -25%;
    }

    #radio3:checked~.slide-first {
        margin-left: -50%;
    }

    #radio4:checked~.slide-first {
        margin-left: -75%;
    }
    .navigation-auto div{
        border: 2px solid #20a6ff;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }
    .navigation-auto{
        position: absolute;
        width: 100%;
        margin-top: 380px;
        display: flex;
        justify-content: center;
    }
    .navigation-auto div:not(:last-child){
        margin-right: 40px;
    }
    #radio1:checked ~ .navigation-auto .auto-btn1{
        background-color: #fff;
    }
    #radio2:checked ~ .navigation-auto .auto-btn2{
        background-color: #fff;
    }
    #radio3:checked ~ .navigation-auto .auto-btn3{
        background-color: #fff;
    }
    #radio4:checked ~ .navigation-auto .auto-btn4{
        background-color: #fff;
    }
